<section class='dashboard-main'>
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <h4> Logged in as <%= current_user.first_name + ' ' + current_user.last_name %></h4>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: 'btn btn-primary mb1 bg-teal' %>

  <% if !current_user.github_token %>
    <section id='github-button'>
      <%= button_to 'Connect to GitHub', github_login_path, method: 'get', class: 'btn btn-primary mb1 bg-teal' %>
    </section>
  <% end %>

  <%= link_to "Send an Invite", invite_path %>

  <h3>Account Details</h3>
  <% if current_user.activated %>
    Status: Active
  <% else %>
    This account has not yet been activated. Please check your email.
  <% end %>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <% if current_user.github_token != nil %>
    <section>
      <h1> GitHub </h1>
        <section id='github-repos'>
          <h3> Repos </h3>
            <% repo_data.each do |repo| %>
              <ul class='github-repo'>
                <li class='name'><%= link_to repo.name, repo.html_url %></li>
              </ul>
            <% end %>
        </section>
        <section id='github-followers'>
          <h3> Followers </h3>
            <% followers_data.each do |follower| %>
              <ul class='github-follower'>
                <li class='github-handle'><%= link_to follower.github_handle, follower.html_url %>
                  <% if follower.is_user_in_database? %>
                    <%= button_to "Add as Friend", friendships_path, method: :post %>
                  <% end %>
                </li>
              </ul>
            <% end %>
        </section>
        <section id='github-followings'>
          <h3> Following </h3>
            <% following_data.each do |following| %>
              <ul class='github-following'>
                <li class='github-handle'><%= link_to following.github_handle, following.html_url %>
                  <% if following.is_user_in_database? %>
                    <%= button_to "Add as Friend", friendships_path, method: :post %>
                  <% end %>
                </li>
              </ul>
            <% end %>
        </section>
    </section>
  <% end %>

</section>
